:root {
    /* Primary Colors */
    --primary-color-brand-green: #00856F;
    --primary-color-green-light: #DCE9E2;
    --primary-color-green-light-02: #F7F9F9;
    --primary-color-brand-beige: #FFFAF1;
    --primary-color-brand-green-hover: #00453A;

    /* Secondary Colors */
    --secondary-color-gray-headline: #061800;
    --secondary-color-gray-paragraph: #495057;
    --secondary-color-white: #FFFFFF;

    font-size: 62.5%;
    --font-family: 'DM Sans', sans-serif;
    --borderRadius: 4rem;
    --nav-height: 7.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background-color: var(--primary-color-green-light-02);
}

ul {
    list-style: none;
}

section {
    padding-block: 10rem;
}

.wrapper {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

/* pseudo class */
#home::before {
    content: "";
    width: 100%;
    height: calc(108rem + var(--nav-height));
    background-color: var(--primary-color-green-light);

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home {
    padding-top: calc(4.1rem + var(--nav-height));
}

#home h4 {
    font-size: 1.4rem;
    color: var(--primary-color-brand-green);
    margin-bottom: 1.6rem;
}

#home h1 {
    font-size: 3.4rem;
    color: var(--secondary-color-gray-headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#home p {
    font-size: 1.8rem;
    color: var(--secondary-color-gray-paragraph);
    line-height: 150%;
    margin-bottom: 3.2rem;
}

#home img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

#home button {
    background-color: var(--primary-color-brand-green);
    border: none;
    border-radius: var(--borderRadius);
    margin-bottom: 6rem;

    height: 6.2rem;
    width: 26.3rem;

    color: var(--secondary-color-white);
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-inline: auto;
}

#home .stats {
    width: 32.7rem;
    padding-block: 4rem;

    margin-inline: auto;

    background-color: var(--primary-color-brand-beige);
    border: 1px solid var(--primary-color-green-light);
    border-radius: 0.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

#home .stat h3 {
    color: var(--secondary-color-gray-headline);
    font-size: 4.8rem;
    line-height: 130%;
    margin-bottom: 0.4rem;
}

#home .stat p {
    margin: 0;
    color: var(--primary-color-brand-green);
}

nav {
    display: flex;

    height: var(--nav-height);

    /* Alinhando com o position */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 100;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}     

nav.scroll {
    background: var(--primary-color-brand-green);
    width: 100vw;
}

nav.scroll svg:nth-child(1) path{
    fill: white;
}

nav.scroll svg:last-child path{
    stroke: white;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Menu-Expanded */
body.menu-expanded{
    /* Tirando a barra de rolagem do transpordamento da página */
    overflow: hidden;
}

/* Desaparecendo com o primeiro nível menos com a nav*/
body.menu-expanded > :not(nav) {
    display: none;
}

.menu,
.close-menu, 
body.menu-expanded .open-menu{
    /* Invisível e "inclicável */
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateY(100%)
}

body.menu-expanded .menu{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color-brand-green);

    width: 100%;
    height: 100vh;
    padding-top: var(--nav-height);

    transition: transform 300ms;
    transform: translateY(0);
}

body.menu-expanded nav {
    position: relative;
}

.menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: var(--secondary-color-white);
    text-decoration: none;
}

.menu .button {
    border-radius: var(--borderRadius);
    background-color: var(--secondary-color-white);
    color: var(--primary-color-brand-green);

    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;

    /* Inline-block permite definições de margin, width e etc só o INLINE não permite */
    display: inline-block;
    padding: 1.6rem 3.2rem;

    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu
{
    position: relative; /* Relative é para destravar o z-index */
    z-index: 10;
}

body.menu-expanded .logo svg:nth-child(1) path{
    fill: white;
}

body.menu-expanded button path{
    stroke: white;
}

/* Section Services*/
#services header h4{
    font-size: 1.4rem;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.08rem;

    color: var(--primary-color-brand-green);
    margin-bottom: 1.6rem;
}

#services header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--secondary-color-gray-headline);
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card {
    padding: 2.4rem;
    text-align: left;
    background-color: var(--secondary-color-white);
    border: 1px solid var(--primary-color-green-light);
    border-radius: 0.6rem;
}

#services .card h3 {
    margin-block: 1.6rem;
}